@use 'bases';


%text-style {
    font-size: 1.4em;
    font-weight: 600;
    line-height: normal;
}

%card-style {
    position: relative;
    padding: 40px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

h2 {
    @extend %text-style;
    margin: 12px 0 20px 0;
}

h4 {
    @extend %text-style;
    font-weight: 500;
    font-size: 1.2em;
}

.bg-pattern-quotation {
    position: absolute;
    top: 0%;
    right: 15%;
    color: #fff;
    width: 125px;
    height: 125px;
    object-fit: cover;
    z-index: -1;

}


main {

    max-width: 1310px;
    margin: 3rem auto;
    

    .testimonials {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        .message {
            @extend %card-style;
        }

        .profil-section {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .box-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .daniel-message {
            position: relative;
            grid-column: 1 / 3;
            background: bases.$daniel-color;
            color: bases.$light-color;
            z-index: 2;
            
        }

        .patrick-message {
            grid-column: 2 / 4;
            grid-row: 2;
            background: bases.$patrick-color;
            color: bases.$light-color;
        }

        .kira-message {
            grid-column: 4;
            grid-row: 1 / 3;
            color: bases.$dark-color;
        }

        .jonathan-message {
            background: bases.$onathan-color;
            color: bases.$light-color;
        }

        .jeanette-message {
            color: bases.$dark-color;
        }
    }
    


}

@media screen and (max-width: 1440px) {
    main {
        max-width: 95%;
    }
}

@media screen and (max-width: 48em) {
    main {
        max-width: 90%;
        .testimonials {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .message {
                padding: 32px;
            }
        }
    }
}

@media screen and (max-width: 40em) {
    .bg-pattern-quotation {
        display: none;
    }
}